<section class="section contacts">
    <div class="container">
        <h2 class="title text-center">Остались вопросы?</h2>
        <div class="row">
            <div class="col-md-4 text-center mv-30 bottom-clear">
                <div class="contacts-block">
                    <h3 class="blue bottom-clear">Позвоните нам</h3>
                    <p>мы решим вашу проблему моментально</p>
                    <p>В городе Усть-Каменогорск:<br><strong>+7 (727) 311-0-777</strong></p>
                    <p>Бесплатно по всему Казахстану:<br><strong>8 800 080-30-30</strong></p>
                    <p><a href="#777" class="btn btn-default" data-toggle="modal" data-target=".call-modal">Заказать звонок</a></p>
                </div>
            </div>
            <div class="col-md-4 text-center mv-30 bottom-clear">
                <div class="contacts-block">
                    <h3 class="blue bottom-clear">Напишите нам</h3>
                    <p>и мы ответим в течение часа</p>
                    <p>По общим вопросам:<br><strong><a href="mailto:info@laic.kz">info@laic.kz</a></strong></p>
                    <p>По страховым продуктам:<br><strong><a href="mailto:sales@laic.kz">sales@laic.kz</a></strong></p>
                    <p><a href="#777" class="btn btn-default">Написать сейчас</a></p>
                </div>
            </div>
            <div class="col-md-4 text-center mv-30 bottom-clear">
                <div class="contacts-block">
                    <h3 class="blue bottom-clear">Сообщите</h3>
                    <p>о наступившем страховом случае</p>
                    <p>По телефону:<br><strong><span>+7 (727) 311-0-777</span></strong></p>
                    <p>По электронной почте:<br><strong><a href="mailto:accident@laic.kz">accident@laic.kz</a></strong></p>
                    <p><a href="#777" class="btn btn-default">Через сайт</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
