<section class="section parallax-window" data-parallax="scroll" data-image-src="/img/easy.jpg" data-z-index="-100">
    <div class="container">
        <h2 class="title text-center">Купить страховку онлайн - легко!</h2>
        <div class="easy">
            <div class="easy__step"><img src="/img/step-calc.png" alt="1"><span>Рассчитайте<br>свою страховку</span></div>
            <div class="easy__arrow"><img src="/img/step-arrow.png" alt=""></div>
            <div class="easy__step"><img src="/img/step-payment.png" alt="2"><span>Оплатите полис<br>онлайн</span></div>
            <div class="easy__arrow"><img src="/img/step-arrow.png" alt=""></div>
            <div class="easy__step"><img src="/img/step-delivery.png" alt="3"><span>Получите полис<br>на руки</span></div>
        </div>
    </div>
</section>
