<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="col-md-3"><p class="footer-copy"><span>&copy; 2006–2016 Страховая компания</span> London Almaty</p></div>
            <div class="col-md-6">
                <ul class="footer-social">
                    <li><a href="#777" class="icon icon-facebook">facebook</a></li>
                    <li><a href="#777" class="icon icon-vk">vk</a></li>
                    <li><a href="#777" class="icon icon-google">google</a></li>
                    <li><a href="#777" class="icon icon-twitter">twitter</a></li>
                    <li><a href="#777" class="icon icon-instagram">instagram</a></li>
                    <li><a href="#777" class="icon icon-youtube">yotube</a></li>
                    <li><a href="#777" class="icon icon-linkedin">linkedin</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer-powered">Произведено <span><a href="http://neolabs.kz/" target="_blank">Neolabs Web Solutions</a></span></p>
            </div>
        </div>
    </div>

    <div class="footer-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-8">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="footer-nav-block">
                            <h4>Компания</h4>
                                <ul>
                                    <li><a href="#777">Корпоративный сайт</a></li>
                                    <li><a href="#777">Адреса и контакты</a></li>
                                    <li><a href="#777">Условия доставки и оплаты</a></li>
                                    <li><a href="#777">Центр выплат</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="footer-nav-block">
                                <h4>Автострахование</h4>
                                <ul>
                                    <li><a href="#777">Обязательное страхование ОГПО</a></li>
                                    <li><a href="#777">КАСКО ДТП</a></li>
                                    <li><a href="#777">КАСКО</a></li>
                                    <li><a href="#777">Экстра КАСКО</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="footer-nav-block">
                                <h4>Страхование здоровья</h4>
                                <ul>
                                    <li><a href="#777">Страхование от несчастного случая</a></li>
                                    <li><a href="#777">Страхование здоровья детей</a></li>
                                    <li><a href="#777">Спортивное страхование</a></li>
                                    <li><a href="#777">Страхование не-резидентов</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="footer-nav-block">
                            <h4>Информация</h4>
                                <ul>
                                    <li><a href="#777">Отзывы клиентов</a></li>
                                    <li><a href="#777">Вопрос-ответ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="footer-nav-block">
                                <h4>Страхование имущества</h4>
                                <ul>
                                    <li><a href="#777">Программа «Мой дом»</a></li>
                                    <li><a href="#777">Программа «Квартирный вопрос»</a></li>
                                    <li><a href="#777">Страхование движимого имущества</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                             <div class="footer-nav-block">
                                <h4>Страхование путешествий</h4>
                                <ul>
                                    <li><a href="#777">Страхование туристов</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <div class="footer-nav-block footer-nav-lang">
                        <h4>Язык</h4>
                        <ul>
                            <li><a href="#777">Қазақша</a></li>
                            <li class="current"><a href="#777">На русском</a></li>
                            <li><a href="#777">In english</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade call-modal form-modal in" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body"><div role="form" class="wpcf7" id="wpcf7-f223-o1" lang="ru-RU" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/#wpcf7-f223-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="223">
<input type="hidden" name="_wpcf7_version" value="5.0">
<input type="hidden" name="_wpcf7_locale" value="ru_RU">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f223-o1">
<input type="hidden" name="_wpcf7_container_post" value="0">
</div>
<h2>Заказать обратный звонок</h2>
<p><label>Ваш номер телефона  (обязательно)<br>
    <span class="wpcf7-form-control-wrap tel-457"><input type="tel" name="tel-457" value="" size="40" class="block wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel styler" aria-invalid="false" maxlength="18"></span></label></p>
<p><label>Ваше имя (обязательно)<br>
    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="block wpcf7-form-control wpcf7-text wpcf7-validates-as-required styler" aria-required="true" aria-invalid="false"></span></label></p>
<div class="wpcf7-form-control-wrap"><div data-sitekey="6Lfgl0YUAAAAAKlHFQtUboAe02Rg1Qxm4vPZOovp" class="wpcf7-form-control g-recaptcha wpcf7-recaptcha"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?k=6Lfgl0YUAAAAAKlHFQtUboAe02Rg1Qxm4vPZOovp&amp;co=aHR0cDovL2xvbmRvbi1hbG1hdHkubmVvd2ViLmt6Ojgw&amp;hl=en&amp;v=v1518566665321&amp;size=normal&amp;cb=illybr7sszhn" width="304" height="78" role="presentation" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>
<noscript>
    &lt;div style="width: 302px; height: 422px;"&gt;
        &lt;div style="width: 302px; height: 422px; position: relative;"&gt;
            &lt;div style="width: 302px; height: 422px; position: absolute;"&gt;
                &lt;iframe src="https://www.google.com/recaptcha/api/fallback?k=6Lfgl0YUAAAAAKlHFQtUboAe02Rg1Qxm4vPZOovp" frameborder="0" scrolling="no" style="width: 302px; height:422px; border-style: none;"&gt;
                &lt;/iframe&gt;
            &lt;/div&gt;
            &lt;div style="width: 300px; height: 60px; border-style: none; bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px; background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;"&gt;
                &lt;textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;"&gt;
                &lt;/textarea&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
</noscript>
</div>
<p><input type="submit" value="Заказать звонок" class="wpcf7-form-control wpcf7-submit btn btn-default"><span class="ajax-loader"></span></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/jquery.formstyler.js"></script>
<script>
jQuery(document).ready(function($){
    $('.slick').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: false,
        dots: false,
        arrows: true
    });
    $('.intro').slick({
        autoplay: true,
        autoplaySpeed: 10000,
        arrows: false,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear'
    });
});

(function($) {
$(function() {

  $('input, select').styler();

});
})(jQuery);

$('.dropdown-menu').on('click', function(event) {
	event.stopPropagation();
});

$('.selectpicker').selectpicker({
	container: 'body'
});

$('body').on('click', function(event) {
	var target = $(event.target);
	if (target.parents('.bootstrap-select').length) {
		event.stopPropagation();
		$('.bootstrap-select.open').removeClass('open');
    }
});

$('.panel-heading a').click(function() {
    $('.panel-heading').removeClass('active');
    if(!$(this).closest('.panel').find('.panel-collapse').hasClass('in'))
        $(this).parents('.panel-heading').addClass('active');
});
</script>
