<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 header-menu-col">
                <div class="dropdown dropdown-header-menu">
                    <a href="#777" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i></i><span class="hidden-xs hidden-sm">Меню</span></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <div class="container">
                            <ul class="header__lang">
                                <li><a href="#777">Қазақша</a></li>
                                <li class="current"><a href="#777">На русском</a></li>
                                <li><a href="#777">In English</a></li>
                            </ul>
                            <div class="header__menu menu-header">
                                <h3 class="menu-header__cat">Автострахование</h3>
                                <ul class="menu-header__ul">
                                    <li><a href="#777">ОГПО</a> <span>Обязательное страхование</span></li>
                                    <li><a href="#777">КАСКО ДТП</a> <span>Страхование для полубогатых</span></li>
                                    <li><a href="#777">КАСКО</a> <span>Обычное КАСКО без излишеств</span></li>
                                    <li><a href="#777">Экстра КАСКО</a> <span>КАСКО и еще Экстра сверху</span></li>
                                </ul>
                            </div>
                            <div class="header__menu menu-header">
                                <h3 class="menu-header__cat">Страхование имущества</h3>
                                <ul class="menu-header__ul">
                                    <li><a href="#777">Мой дом</a> <span>Страхование моего дома</span></li>
                                    <li><a href="#777">Квартирный вопрос</a> <span>Страхование квартирного вопроса</span></li>
                                    <li><a href="#777">Движимое имущество</a> <span>Страхование движимого имущества</span></li>
                                </ul>
                            </div>
                            <div class="header__menu menu-header">
                                <h3 class="menu-header__cat">Страхование здоровья</h3>
                                <ul class="menu-header__ul">
                                    <li><a href="#777">Несчастный случай</a> <span>Страхование от несчастного случая</span></li>
                                    <li><a href="#777">Дети</a> <span>Страхование здоровья детей</span></li>
                                    <li><a href="#777">Спортсменам</a> <span>Спортивное страхование</span></li>
                                    <li><a href="#777">Не-резидентам</a> <span>Страхование не-резидентов</span></li>
                                </ul>
                            </div>
                            <div class="header__menu menu-header">
                                <h3 class="menu-header__cat">Страхование путешествий</h3>
                                <ul class="menu-header__ul">
                                    <li><a href="#777">Туристам</a> <span>Страхование туристов</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="header-lang hidden-xs hidden-sm">
                    <ul class="language-chooser language-chooser-text qtranxs_language_chooser " id="qtranslate-chooser">
                        <li class="lang-ru active">
                            <a href="http://london-almaty.neoweb.kz/ru/" hreflang="ru" title="Русский (ru)" class="qtranxs_text qtranxs_text_ru">
                                <span>Рус</span>
                            </a>
                        </li>
                        <li class="lang-en">
                            <a href="http://london-almaty.neoweb.kz/en/" hreflang="en" title="English (en)" class="qtranxs_text qtranxs_text_en">
                                <span>Eng</span>
                            </a>
                        </li>
                        <li class="lang-kk">
                            <a href="http://london-almaty.neoweb.kz/kk/" hreflang="kk" title="Казахский (kk)" class="qtranxs_text qtranxs_text_kk">
                                <span>Каз</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="/" class="header-logo"><img src="/img/logo.gif" alt="logo"></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 dropdown-contacts">
                <div class="dropdown dropdown-header-contacts">
                    <a id="dropdownCity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <div class="header-icon-phone visible-sm visible-xs">menu</div>
                        <span class="hidden-sm hidden-xs">В <span class="city" >Усть-Каменогорске</span> <span class="caret"></span></span>
                    </a>
                    <div class="header-phone hidden-sm hidden-xs"><span>(+7 727)</span> 311-0-777<a href="#777">Адреса и телефоны региональных офисов</a></div>
                    <div class="dropdown-menu" aria-labelledby="dropdownCity">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Ваш город</label>
                                <select class="width-auto">
                                    <option>Усть-Каменогорск</option>
                                    <option>Усть-Каменогорск</option>
                                    <option>Усть-Каменогорск</option>
                                </select>
                            </div>
                            <div class="col-md-12 mv-30 bottom-clear"><h3><a href="tel:+77273110777">+7 (727) 311-0-777</a></h3><span>в городе Усть-Каменогорск</span></div>
                            <div class="col-md-12 mv-30 bottom-clear"><h3><a href="tel:8 8000803030">8 800 080-30-30</a></h3><span>бесплатно по всему Казахстану</span></div>
                            <div class="col-md-12 mv-30 bottom-clear"><a href="#777">Адреса и телефоны</a><span>всех филиалов в городе Усть-Каменогорск</span></div>
                            <div class="col-md-12 mv-30 bottom-clear"><a href="#777" class="btn btn-default">Заказать обратный звонок</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
