* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}
body {
    color:#464646;
    font-family: 'Museo Sans Cyrl 500';
    line-height:1;
}
.content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
a:link, a:visited, {
    color:#164e9d;
    text-decoration: none;
    border-bottom:1px solid #164e9d;
}
a:hover {
    color:#164e9d;
    text-decoration: none;
    border-bottom:0;
}
@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('../fonts/MuseoSansCyrl-500.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/MuseoSansCyrl-500.woff') format('woff'), /* Modern Browsers */
            url('../fonts/MuseoSansCyrl-500.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../fonts/MuseoSansCyrl-500.svg#3de9e3e779dc83c8711e382dfdac696a') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}
@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('../fonts/MuseoSansCyrl-100.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/MuseoSansCyrl-100.woff') format('woff'), /* Modern Browsers */
            url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../fonts/MuseoSansCyrl-100.svg#6eff97f49ef0d64b413b2622a3c841e0') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}
@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('../fonts/MuseoSansCyrl-300.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/MuseoSansCyrl-300.woff') format('woff'), /* Modern Browsers */
            url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../fonts/MuseoSansCyrl-300.svg#279d579f5361481259473477314c79fc') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}
.title {
    font-size:30px;
    margin:0 0 35px;
}
.num {
    background: url(../img/layer.png) 0 0 no-repeat;
    width: 400px;
    height: 400px;
    display:inline-block;
    color:#fff;
    padding-top:35px;
}
.num h3 {
    font-size: 24px;
    margin:0 0 10px;
}
.num span {
    font-size:170px;
    font-family: 'Museo Sans Cyrl 100';
}
.home-page {
    font-family: 'Museo Sans Cyrl 100';
    font-size:24px;
    margin: 35px 0 0;
}