body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:#464646;
    line-height:24px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
img {
    max-width: 100%;
    height: auto;
}
.content {
    flex: 1;
    position:relative;
}
.hidden-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.section {
    padding:50px 0 60px;
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
.text-white {
    color: #fff;
}
.line-top {
    border-top:2px solid #b1cb02;
}
.shadow-blue {
    background: url(../img/shadow.png) 0 0 repeat-x;
}
a.link-dotted {
    text-decoration: none;
    border-bottom:1px dotted #164e9d;
}
.download-wrap {
  a[href$=".pdf"] {
      display: block;
      min-height: 40px;
      padding-left:50px;
      line-height: 20px;
      text-decoration: none;
      color:#464646;
      background: url(../img/download.png) 0 0 no-repeat;
      &:hover {
          span {
              color:#23527c;
          }
      }
      span {
          color:#164e9d;
          display: block;
          text-decoration: underline;
      }
  }
}
.btn-transparent {
    background-color:transparent;
}
.relative {
    position: relative;
}
.static-page-container {
    padding:0 100px;
    @media screen and (max-width: 991px) {
        padding: 0 15px;
    }
}
ol, ul, table {
  margin-bottom: 24px;
}
.faq__title {
    margin-bottom:20px;
}