.contacts {
    background-color: #f5f5f5;
    font-weight: bold;
    strong {
        font-size:18px;
        font-family: 'Museo Sans Cyrl 500';
        font-weight: normal;
    }
    a[href^="mailto:"]  {
        text-decoration: underline;
    }
}
.contacts-block {
    @media screen and (max-width: 991px) {
        border:1px solid #ccc;
        padding:20px;
    }
}
.dropdown-city {
    text-align: center;
    margin-top:-9px;
    > a {
        font-size:24px;
        font-family: 'Museo Sans Cyrl 100';
        color: #464646;
        text-decoration: none;
        .city {
            border-bottom: 1px dotted #464646;
        }
    }
    .dropdown-menu {
        right:0;
        left:0;
        padding:20px 50px;
        a {
            font-size:18px;
            font-family: 'Museo Sans Cyrl 100';
        }
        ul {
            list-style: none;
            padding:0;
            margin:0;
        }
        li {
            padding:5px 0;
        }
    }
}
