.easy {
    font-size:0;
    text-align: center;
    margin-top:40px;
}
.easy__arrow,
.easy__step {
    display: inline-block;
    vertical-align: top;
    padding:0 10px;
    width: 20%;
}
.easy__step {
    font-family: 'Museo Sans Cyrl 500';
    font-size:18px;
    span {
        display: block;
    }
    img {
        display: inline-block;
        margin: 0 0 10px;
    }
    @media screen and (max-width: 991px) {
        text-align: center;
        font-size:14px;
        line-height: 1.2;
    }
}
@media screen and (max-width: 320px) {
    .easy__step {
        width: auto;
        display: block;
        margin-top:20px;
    }
    .easy__arrow {
        display: none;
    }
}
