.footer {
    background: #0b274f;
    padding:15px 0 0;
    color:#fff;
    a {
        color:#fff;
        text-decoration: underline;
        &:hover {
            color: #999;
        }
    }
    p {
        margin: 15px 0 0;
    }
    @media screen and (max-width: 991px) {
        > .container,
        .footer-powered {
            text-align: center;
        }
        .footer-social {
            margin: 15px 0;
        }
    }
}
.footer-powered {
    text-align: right;
    span {
        display: block;
        @media screen and (max-width: 991px) {
            display: inline;
        }
    }
}
.footer-copy {
    span {
        white-space: nowrap;
        display: block;
        @media screen and (max-width: 991px) {
            display: inline;
        }
    }
}
.footer-social {
    list-style: none;
    font-size:0;
    text-align: center;
    margin:0;
    padding:0;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    @media screen and (max-width: 991px) {
        white-space: normal;
        display:block;
    }
    li {
        display: inline-block;
        vertical-align: top;
        margin: 5px 0 5px 10px;
        font-size:14px;
        &:first-child {
            margin-left:0;
        }
    }
}
.icon {
    display: inline-block;
    vertical-align: middle;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width:40px;
    height: 40px;
    border-radius: 10px;
    &.icon-facebook {
        background: url(../img/icon-facebook.gif) 0 0 no-repeat;
    }
    &.icon-vk {
        background: url(../img/icon-vk.gif) 0 0 no-repeat;
    }
    &.icon-google {
        background: url(../img/icon-google.gif) 0 0 no-repeat;
    }
    &.icon-twitter {
        background: url(../img/icon-twitter.gif) 0 0 no-repeat;
    }
    &.icon-instagram {
        background: url(../img/icon-instagram.gif) 0 0 no-repeat;
    }
    &.icon-youtube {
        background: url(../img/icon-youtube.gif) 0 0 no-repeat;
    }
    &.icon-linkedin {
        background: url(../img/icon-linkedin.gif) 0 0 no-repeat;
    }
}
.footer-nav {
    border-top:15px solid #0b274f;
    background: #174f9e;
    padding:15px 0;
    line-height: 1.4;
}
.footer-nav-block {
    font-size:12px;
    margin-bottom: 30px;
    h4 {
        color:#b1cb02;
        font-size:14px;
        font-family: 'Museo Sans Cyrl 500';
    }
    ul {
        list-style: none;
        padding:0;
        margin:0;
    }
    li {
        padding: 5px 0;
    }
}
.footer-nav-lang {
    text-align: right;
    li.active a {
        display: inline-block;
        background: #b1cb02;
        padding:7px 10px;
        color:#0b274f;
        text-decoration: none;
    }
}
