.intro-auto,
.intro-house,
.intro-heart,
.intro-airplane {
    width: 220px;
    height:220px;
    padding:150px 45px 0 45px;
    text-align: center;
    color:#464646;
    font-size:18px;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: 50% 33px;
    background-color: #fff;
    transition: all 0.2s;
    position:relative;
    @media screen and (max-width: 991px) {
        display:block;
        width:100%;
        min-height: 160px;
        padding:60px 50px 20px 210px;
        text-align: left;
    }
    @media screen and (max-width: 320px) {
        padding:150px 45px 20px 45px;
        text-align: center;
    }
    &:hover {
        text-decoration: none;
        background-color: #b1cb02;
        color:#fff;
    }
    &:after {
        content:'';
        position:absolute;
        height:100px;
        left:50%;
        top:33px;
        @media screen and (max-width:991px) {
            left:30px;
        }
    }
}
.intro-auto {
    &:after {
        width:142px;
        margin-left:-71px;
        background-image:url(../img/new-auto.png);
        @media screen and (max-width:991px) {
            margin-left:0;
        }
    }
    &:hover {
        &:after {
            background-position:0 -100px;
        }
    }
}
.intro-house {
    &:after {
        width:110px;
        margin-left:-55px;
        background-image:url(../img/new-house.png);
        @media screen and (max-width:991px) {
            margin-left:20px;
        }
    }
    &:hover {
        &:after {
            background-position:0 -100px;
        }
    }
}
.intro-heart {
    &:after {
        width:108px;
        margin-left:-54px;
        background-image:url(../img/new-heart.png);
        @media screen and (max-width:991px) {
            margin-left:22px;
        }
    }
    &:hover {
        &:after {
            background-position:0 -100px;
        }
    }
}
.intro-airplane {
    &:after {
        width:100px;
        margin-left:-50px;
        background-image:url(../img/new-airplane.png);
        @media screen and (max-width:991px) {
            margin-left:25px;
        }
    }
    &:hover {
        &:after {
            background-position:0 -100px;
        }
    }
}
.intro {
    color:#fff;
    font-family: 'Museo Sans Cyrl 100';
    font-size:24px;
    h1, h2, h3, h4 {
        color:#fff;
        font-family: 'Museo Sans Cyrl 100';
    }
    h1 {
        font-size:60px;
    }
    @media screen and (max-width: 991px) {
        font-size:18px;
    }
    &.parallax-window {
        height: auto;
    }
    p {
        margin:0 0 34px;
    }
}
.intro-grid {
    margin-top:80px;
    @media screen and (max-width: 991px) {
        margin-top:30px;
    }
}
