.pv-100 {
	padding-top:100px;
	padding-bottom:100px;
}
.pv-80 {
	padding-top:80px;
	padding-bottom:80px;
}
.pv-60 {
	padding-top:60px;
	padding-bottom:60px;
}
.pv-50 {
	padding-top:50px;
	padding-bottom:50px;
}
.pv-45 {
	padding-top:45px;
	padding-bottom:45px;
}
.pv-40 {
	padding-top:40px;
	padding-bottom:40px;
}
.pv-35 {
	padding-top:35px;
	padding-bottom:35px;
}
.pv-30 {
	padding-top:30px;
	padding-bottom:30px;
}
.pv-25 {
	padding-top:25px;
	padding-bottom:25px;
}
.pv-20 {
	padding-top:20px;
	padding-bottom:20px;
}
.pv-15 {
	padding-top:15px;
	padding-bottom:15px;
}
.pv-10 {
	padding-top:10px;
	padding-bottom:10px;
}
.pv-5 {
	padding-top:5px;
	padding-bottom:5px;
}
.mv-80 {
	margin-top:80px;
	margin-bottom:80px;
}
.mv-60 {
	margin-top:60px;
	margin-bottom:60px;
}
.mv-55 {
	margin-top:55px;
	margin-bottom:55px;
}
.mv-50 {
	margin-top:50px;
	margin-bottom:50px;
}
.mv-45 {
	margin-top:45px;
	margin-bottom:45px;
}
.mv-40 {
	margin-top:40px;
	margin-bottom:40px;
}
.mv-35 {
	margin-top:35px;
	margin-bottom:35px;
}
.mv-30 {
	margin-top:30px;
	margin-bottom:30px;
}
.mv-25 {
	margin-top:25px;
	margin-bottom:25px;
}
.mv-20 {
	margin-top:20px;
	margin-bottom:20px;
}
.mv-15 {
	margin-top:15px;
	margin-bottom:15px;
}
.mv-10 {
	margin-top:10px;
	margin-bottom:10px;
}
.mv-5 {
	margin-top:5px;
	margin-bottom:5px;
}
.ph-100 {
	padding-left:100px;
	padding-right:100px;
}
.ph-50 {
	padding-left:50px;
	padding-right:50px;
}
.ph-45 {
	padding-left:45px;
	padding-right:45px;
}
.ph-40 {
	padding-left:40px;
	padding-right:40px;
}
.ph-35 {
	padding-left:35px;
	padding-right:35px;
}
.ph-30 {
	padding-left:30px;
	padding-right:30px;
}
.ph-25 {
	padding-left:25px;
	padding-right:25px;
}
.ph-20 {
	padding-left:20px;
	padding-right:20px;
}
.ph-15 {
	padding-left:15px;
	padding-right:15px;
}
.ph-10 {
	padding-left:10px;
	padding-right:10px;
}
.ph-5 {
	padding-left:5px;
	padding-right:5px;
}
.mh-50 {
	margin-left:50px;
	margin-right:50px;
}
.mh-45 {
	margin-left:45px;
	margin-right:45px;
}
.mh-40 {
	margin-left:40px;
	margin-right:40px;
}
.mh-35 {
	margin-left:35px;
	margin-right:35px;
}
.mh-30 {
	margin-left:30px;
	margin-right:30px;
}
.mh-25 {
	margin-left:25px;
	margin-right:25px;
}
.mh-20 {
	margin-left:20px;
	margin-right:20px;
}
.mh-15 {
	margin-left:15px;
	margin-right:15px;
}
.mh-10 {
	margin-left:10px;
	margin-right:10px;
}
.mh-5 {
	margin-left:5px;
	margin-right:5px;
}
.bottom-clear {
	padding-bottom:0!important;
	margin-bottom:0!important;
}
.top-clear {
	padding-top:0!important;
	margin-top:0!important;
}
.padding-top-clear {
	padding-top:0!important;
}
.padding-bottom-clear {
	padding-bottom:0!important;
}
.margin-top-clear {
	margin-top:0!important;
}
.margin-bottom-clear {
	margin-bottom:0!important;
}
.no-padding {
   padding: 0 !important;
}
.no-margin {
   margin: 0 !important;
}
