.parallax-window {
    background: transparent;
    min-height: 350px;
    font-size: 24px;
    font-family: 'Museo Sans Cyrl 500';
    @media screen and (max-width: 991px) {
        font-size: 20px;
    }
    h1 {
        font-size:60px;
        color:#fff;
    }
}
