/* product index */
.products-3 {
    font-size:0;
    margin-top:-30px;
    a.product {
        width:33.3%;
        @media screen and (max-width: 991px) {
            width:50%;
        }
        @media screen and (max-width: 320px) {
            width:100%;
        }
    }
}
.products-4 {
    font-size:0;
    margin-top:-30px;
    a.product {
        width:25%;
        @media screen and (max-width: 991px) {
            width:50%;
        }
        @media screen and (max-width: 320px) {
            width:100%;
        }
    }
}
a.product {
    margin-top:30px;
    padding: 0 15px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    font-size: 14px;
    color:#464646;
    text-decoration: none;
    img {
        margin:0 0 20px;
    }
    &:hover {
        color: #23527c;
        h3 {
            color: #23527c;
        }
    }
    h3 {
        color:#164e9d;
    }
}
/* product */
.plus {
    text-align: center;
    list-style: none;
    font-size:0;
    padding:0;
    margin:-30px 0 0;
    li {
        display: inline-block;
        vertical-align:top;
        width:25%;
        padding:0 15px;
        margin-top:30px;
        @media screen and (max-width:768px) {
            width:50%;
        }
        @media screen and (max-width:500px) {
            width:100%;
        }
    }
    h3 {
        font-size:36px;
        color:#164e9d;
        border-bottom:2px solid #b1cb03;
        padding-bottom: 10px;
        font-family: 'Museo Sans Cyrl 100';
        @media screen and (max-width: 991px) {
            font-size:24px;
        }
    }
}
.add-form {
    line-height: 30px;
    padding-left:40px;
    position: relative;
}
a.add-form__link {
    text-decoration: none;
    border-bottom:1px dotted #174f9e;
    &:after {
        content:'';
        width:30px;
        height: 30px;
        position: absolute;
        left:0;
        background: url(../img/add.png) 0 0 no-repeat;
    }
}
.title-form {
    margin:50px 0 20px;
}
.total {
    font-size:36px;
    font-family: 'Museo Sans Cyrl 500';
    color:#164e9d;
    line-height:.9;
    @media screen and (max-width: 991px) {
        margin-bottom:10px;
        font-size:30px;
    }
}
.form-group .checkbox {
    margin-top:43px;
    @media screen and (max-width: 768px) {
        margin-top:0;
    }
}
.section-manual {
  background: url(../img/instructions.jpg);
  background-size: cover;
}
