/* Slider */
.slick-slider
{
    font-size:14px;
    font-family: Arial, sans-serif;
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    table {
      margin-left: auto;
      margin-right: auto;
        td {
            padding:0 25px;
            @media screen and (max-width: 991px) {
                width:auto;
                display: block;
                text-align: center;
            }
            img {
                display: inline-block;
                margin-bottom: 20px;
            }
        }
        p {
            margin: 0;
        }
    }
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0 150px;
    padding: 0;
    @media screen and (max-width: 991px) {
        margin: 0 60px;
    }
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
    outline: none !important;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
    margin-top:-38px;

    display: block;

    width: 80px;
    height: 76px;
    padding: 0;
    @media screen and (max-width: 991px) {
        width: 50px;
        height: 46px;
        margin-top:-23px;
    }

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    z-index: 999;

}
.slick-prev {
    background: url(../img/slick-control.png) 0 0 no-repeat;
    @media screen and (max-width: 991px) {
        background: url(../img/slick-control-small.png) 0 0 no-repeat;
    }
}
.slick-next {
    background: url('../img/slick-control.png') 0 -76px no-repeat;
    @media screen and (max-width: 991px) {
        background: url('../img/slick-control-small.png') 0 -47px no-repeat;
    }
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    opacity: 0.9;
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled
{
    opacity: .25;
}

.slick-prev
{
    left: 0;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 0;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -35px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 7px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: 1;
    color: #ccc;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #179bd7;
}
.slick-slide {
    a {
        color:#464646;
        &:hover {
            color:red;
        }
    }
  &:focus, a {
    outline: none;
  }
}
.product-slick {
    margin-bottom:36px;
    .slick-prev {
        left:0;
    }
    .slick-next {
        right:0;
    }
}

.intro {
    .slick-list {
        margin:0;
    }
    .slick-slide {
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center;
        padding:90px 0 40px;
        min-height:638px;
        @media screen and (max-width:991px) {
            height:auto!important;
        }
        a:hover {
            color:#fff;
        }
    }
}
.manual-circle {
  width:200px;
  height:200px;
  background:url(../img/border-image.png) 0 0 no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  line-height: 200px;
  margin-left:auto;
  margin-right:auto;
  @media screen and (max-width: 991px) {
    margin-bottom: 30px;
  }

  span {
    font-size:100px;
    font-family: 'Museo Sans Cyrl 100';
  }
}
