.stat {
    font-size:14px;
    font-family: 'Museo Sans Cyrl 500';
    strong {
        display: inline-block;
        vertical-align: top;
        font-family: 'Museo Sans Cyrl 100';
        font-size:40px;
        color:#164e9d;
        border-bottom:2px solid #b1cb03;
        margin-bottom:5px;
        line-height: 1.4;
    }
    margin-bottom: 20px;
    p {
        margin:0;
    }
}
.main-stat {
    ul {
        list-style:none;
        padding:0;
        margin:-20px 0 0;
        font-size:0;
    }
    li {
        display: inline-block;
        vertical-align: top;
        width:33.3%;
        padding:0 15px;
        font-size:14px;
        font-family: 'Museo Sans Cyrl 500';
        line-height: 1;
        margin-top:30px;
        @media screen and (max-width:991px) {
            width:100%;
        }
        b, strong {
            font-family: 'Museo Sans Cyrl 100';
            font-size:40px;
            color:#164e9d;
            border-bottom:2px solid #b1cb03;
            margin-bottom:5px;
            line-height: 1.2;
            white-space: nowrap;
            @media screen and (max-width:991px) {
                font-size:18px;
            }
            &:after, &:before {
                content:' ';
                display:block;
                height:1px;
            }
        }
    }
}