.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
	font-family: 'Museo Sans Cyrl 500';
	&.white {
		color:#fff;
	}
	&.green {
		color:#b1cb02;
	}
	&.blue {
		color:#164e9d;
	}
	margin-top:0;
	a {
		color:#464646;
		text-decoration: none;
		border-bottom:1px solid #174f9d;
		&:hover {
			text-decoration: none;
		}
	}
	line-height: 1.2;
}
.h1, h1 {
	font-size: 36px;
	font-family: 'Museo Sans Cyrl 100';
	margin-bottom:20px;
	color:#164e9d;
	@media screen and (max-width: 991px) {
		font-size:30px;
	}
}
.h2, h2 {
	font-size: 30px;
	@media screen and (max-width: 991px) {
		font-size:24px;
	}
}
.h3, h3 {
	font-size: 24px;
	@media screen and (max-width: 991px) {
		font-size:20px;
	}
}
.h4, h4 {
	font-size: 18px;
}
.h5 {
	font-size: 12px;
}
.h6 {
	font-size: 8px;
}
.title, .page-title {
	margin-top:0;
}
.parallax-title {
	font-size:60px;
	font-family: 'Museo Sans Cyrl 100';
	@media screen and (max-width: 991px) {
		font-size:30px;
	}
}
